/*
Program name: patient-form.html
Author: David Joseph
Date created: 09/09/2025
Date last edited: 11/21/2025
Version: 1.0
Description: New patient intake form CSS
*/

html, body {
    height: 100%;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: rgb(168, 216, 246);
    transition: background-color 0.4s ease-in-out;
    z-index: 1000;
}

header.scrolled {
    background-color: rgba(168, 216, 246, 0.4);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(201, 230, 246);
    margin: 0;
    height: 100%;
    min-height: 100vh;
}

form {
    flex-grow: 1;
}

h1, h2 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    flex-grow: 1;
}

main {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 20px;
}

.image {
    text-align: left;
}

.td1 {
    text-align: right;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

th {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(168, 216, 246);
    height: 2.5rem;
}

#footer {
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: normal;
    margin-right: 10px;
}

label {
    text-align: right;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
}

input {
    text-align: left;
    font-family: "optima", serif;
    font-weight: normal;
}

textarea {
    text-align: left;
    font-family: "optima", serif;
    font-weight: normal;
}

#today {
    text-align: left;
    font-family: "optima", serif;
    font-weight: normal;
    margin-right: 5px;
}

p {
    text-align: right;
    font-family: "optima", serif;
    font-weight: normal;
}

.error {
    color: red;
    font-size: small;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
}

.pword-message {
    text-align: left;
    font-family: serif;
    font-weight: normal;
    margin-left: 2rem;
    background: transparent;
    padding: 10px;
    border-spacing: 2px;
    border-radius: 10px;
    color: red;
}

#review {
    margin-top: 5px;
}

table.output {
    width: 80%;
    max-width: 600px;
    background-color: rgb(127, 229, 255);
    padding: 10px;
    border-spacing: 5px;
    border-radius: 20px;
    color: black;
}

td.outputdata {
    width: 500px;
    background-color: rgb(127, 229, 255);
    padding: 10px;
    border-spacing: 2px;
}

#alert-box {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: transparent;
}

#alert-content {
    position: relative;
    background-color: rgb(196, 240, 160);
    border-radius: 10px;
    width: 300px;
    height: 135px;
    margin: auto;
    margin-top: 200px;
    padding: 30px;
    text-align: center;
}

#alert-content h4 {
    margin-top: 20%;
    font-size: 20px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
}

#close-alert {
    background-color: aliceblue;
    border-width: 1px;
    border-style: solid;
    color: rgb(2, 19, 23);
    border-color: rgb(7, 37, 45);
    font-size: 15px;
    font-weight: bold;
    height: 20px;
    width: 80px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
}

/* iframe styling */
.iframe-container {
    position: absolute;
    top: 25%;
    right: 15px;
    width: 25%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

.iframe-container iframe {
    width: 95%;
    height: 20%;
    border: 1px solid black;
}

#welcome1 {
    margin-top: 40px;
    font-size: 20px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
}

#welcome2 {
    margin-top: 40px;
    font-size: 20px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
}




